*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}            
.nav a{
    text-decoration: none;
    background-color: white;
    color:black;
    margin-right: 20px;
    display: inline-block;
    width: 15%;
    text-align: center;
    height: 35px;
    border-radius: 10px;
}
.nav a:hover{
    background-color: rgb(94, 113, 171);
    color:white;
    border-radius: 10px;
    display: inline-block;
}
.bs{
    background-image: url("./Images/page-bg-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
            /* banner section */
.ims img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}   
.name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.media a{
    display: inline-block;
    margin: 5px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
.media i{
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
.cv{
    text-decoration: none;
    font-size: 25px;
    background-color: palevioletred;
    color: white;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-top:8px;
    border-radius:15px;
}
.cv:hover{
    color:white;
}

.cv i{
    color:white;
}